@import "../lib/_variable";
@import "../lib/_mixins";

.ui-button{
    display:inline-block;
    line-height:40px;
    font-size:16px;
    text-align: center;
    color: $TEXTCOLOR_NORMAL !important;
    @include border(all);
    @include border-radius(5px);
    padding: 0 20px;
    min-width: 66px;
    @include trans(background-color 0.15s,color 0.15s);
    outline: 0 none;
    cursor: pointer;
    overflow: visible;
    background-color:#fff;
    &:hover{
        background-color:#F6F6F6;
        text-decoration: none;
    }

    &.disabled{
        &:hover{
            background-color:#fff;
        }

        @include opacity(0.4);
        cursor: default;
        pointer-events: none;
        @extend %user-select-none;
    }
}

.ui-button-small{
    line-height:30px;
    min-width:60px;
    padding:0 12px;
    font-size:14px;
}

.ui-button-primary{
    color:$GREEN !important;
    border-color:$GREEN;

    &:hover{
        background-color:#E2F5F4;
    }

    &.disabled{
        &:hover{
            background-color:#fff;
        }
    }
}

.ui-button-suc{
    background-color:$GREEN;
    color:#fff !important;
    border-color:$GREEN;

    &:hover{
        background-color:#01AEA5;
    }

    &.disabled{
        &:hover{
            background-color:$GREEN;
        }
    }
}

div.ui-button{
    display:block;
}
