#app {
    height: 100%;
}

.main-cont {
    @extend %border-box;
    padding: 20px 0  0 288px;
}

.ui-box-item {
  width: 600px;
  border: 1px dashed #ddd;
  padding: 20px 0;
  margin-bottom: 36px;
}
