@import "../lib/_variable";
@import "../lib/_mixins";

$header_height: 59px;

.header{
    height:$header_height;
    background-color:$WHITE;
    border-bottom:1px solid $BORDERCOLOR;
    position:relative;
    z-index: 21;
    .layout{
        position:relative;
    }
    h1 {
        width:162px;
        a {
            display:block;
            height:$header_height;
            line-height: $header_height;
            text-align: center;
            // @include sprite("../../slice/com/logo.png", g);
            // @extend %hide-text;
        }
    }
    .nav{
        position:absolute;
        left:224px;
        top:0;
        font-size:16px;
        color:$TEXTCOLOR_NORMAL;
        ul {
            list-style-type: none;
        }
        li{
            position:relative;
            float:left;
            &.hover{
                background:$MOD_HOVER_COLOR;
                .sub{
                    display:block;
                }
            }
        }
        a{
            color:$TEXTCOLOR_NORMAL;
            &:hover{
                text-decoration: none;
            }
        }
        h2{
            a{
                display:block;
                line-height:$header_height;
                padding:0 14px;
                position: relative;
            }
        }
        .arrow{
            position:absolute;
            right:13px;
            top:28px;
            @include arrow(bottom, 6px, #B1B9B6, #fff, 2px);
            display:none;
        }
        .has-sub{
            .arrow{
                display:block;
            }
            h2{
                a{
                    padding-right:33px;
                }
            }
            &.hover{
                .arrow{
                    border:none;
                    &:after{
                        top:auto;right:auto;bottom:auto;left:auto;
                        border:none;
                    }
                    @include arrow(top, 6px, #B1B9B6, $MOD_HOVER_COLOR, 2px);
                }
            }
        }
        .current-page {
            h2 a {
                @include border(top, 4px, solid, $GREEN);
                color: $GREEN;
                line-height:$header_height - 8px;
                height:$header_height - 4px;
            }
        }
        .sub{
            position:absolute;
            left:0;
            top:58px;
            background:#fff;
            min-width:100%;
            @include border(all, 1px, solid);
            border-top:2px solid #1CBCB4;
            font-size:14px;
            @extend %border-box;
            li{
                float:none;
                a{
                    display:block;
                    padding-left:15px;
                    padding-right:15px;
                    line-height:42px;
                    white-space: nowrap;
                    &:hover{
                        background:$MOD_HOVER_COLOR;
                    }
                }
            }
            @include trans(height 0.3s ease);
            overflow:hidden;
            display:none;
        }
    }
    .user{
        position:absolute;
        right:0;
        top:0;
        .old{
            color:$GREEN;
            font-size:14px;
            margin-top:22px;
            margin-right:23px;
            display:inline-block;
            &:hover{
                color:$HOVER;
                text-decoration: none;
            }
        }
        .search{
            display:inline-block;vertical-align: top;
            .btn-wrap{
                display:inline-block;vertical-align: top;
                padding:0 12px;
                height:$header_height;
                cursor:pointer;
                &:hover{
                    background:$MOD_HOVER_COLOR;
                }
            }
            .search-btn{
                display:inline-block;vertical-align: top;
                width:24px;
                height:25px;
                // @include sprite("../../slice/com/magnifier.png", g);
                margin:20px 0 0;
            }
            .search-form{
                position:absolute;
                right:0;
                top:-$header_height;
                width:980px;
                height:$header_height;
                background:#fff;
                z-index:2;
                .header-search{
                    margin:11px 0 0 50px;
                    width:824px;
                    .search-btn{
                        position:absolute;
                        top:6px;
                        right:11px;
                        margin:0;
                        cursor:pointer;
                    }
                }
                .ui-input-x{
                    @include border-radius(0);
                    .ui-input{
                        @include border-radius(0);
                    }
                    input{
                        padding:8px 0;
                    }
                }
                .close{
                    position:absolute;
                    width:21px;
                    height:22px;
                    right:12px;
                    top:19px;
                    cursor:pointer;
                    // @include sprite("../../slice/com/close.png", g);
                }
            }
        }
        .user-info{
            display:inline-block;vertical-align: top;
            .avatar{
                display:inline-block;vertical-align: top;
                padding:0 12px;
                font-size:14px;
                height:$header_height;
                margin-left:10px;
                cursor:pointer;
                position:relative;
                .avatar-img{
                    display:inline-block;vertical-align: top;
                    width:26px;
                    height:26px;
                    // @include sprite("../../slice/com/avatar.png", g);
                    margin: 19px 8px 0 0;
                }
                .text{
                    display:inline-block;vertical-align: top;
                    margin:21px 0 0;
                    max-width:5em;
                    overflow:hidden;
                    height:21px;
                }
                &.hover{
                    background:$MOD_HOVER_COLOR;
                    .user-nav{
                        display:block;
                    }
                    .arrow{
                        border:none;
                        &:after{
                            top:auto;right:auto;bottom:auto;left:auto;
                            border:none;
                        }
                        @include arrow(top, 6px, #B1B9B6, $MOD_HOVER_COLOR, 2px);
                    }
                    .hover-arrow{
                        display:block;
                    }
                }
                .arrow{
                    position:relative;
                    display:inline-block;vertical-align: top;
                    @include arrow(bottom, 6px, #B1B9B6, #fff, 2px);
                    margin:29px 0 0 8px;
                }
                .hover-arrow{
                    position:absolute;
                    bottom:-1px;
                    left:50%;
                    margin-left:-6px;
                    @include arrow(top, 6px, $BORDERCOLOR, #fff, 1px);
                    z-index:2;
                    display:none;
                }
            }
            .unlogin{
                color:$GREEN;
            }
            .user-nav{
                position:absolute;
                top:59px;
                right:0;
                background:#fff;
                @include border(all, 1px, solid);
                cursor:default;
                white-space: nowrap;
                padding:14px 0 45px;
                .item{
                    display:inline-block;vertical-align: top;
                    width:122px;
                    line-height:30px;
                }
                .title{
                    padding-left:18px;
                    color:$TEXTCOLOR_WEAK;
                    margin-bottom:3px;
                }
                ul{
                    li{
                        padding:0 18px;
                        @extend %text-overflow;
                    }
                    a{
                        color:$TEXTCOLOR_NORMAL;
                    }
                }
                display:none;
            }
        }
    }
}
